<h2 class='text-center mb-5'><%= t('team.name_title') %></h2>
<div class='mx-auto w-50 d-block'>
  <div class='d-flex justify-content-evenly align-items-center'>
    <%= image_tag 'team.svg', width: '50%', class: 'img-fluid mx-5' %>
    <%= render partial: 'form',
               locals: { team: @team } %>
  </div>
</div>
