<div class='tab-content'>
  <div class='tab-pane fade show active' id='users' role='tabpanel' aria-labelledby='users-tab'>
    <%= render partial: 'user_card', collection: @users, as: :user %>
  </div>
  <div class='tab-pane fade' id='admins' role='tabpanel' aria-labelledby='admins-tab'>
    <p> Admin </p>
  </div>
</div>
