<% if user.documents.any? %>
  <h4>Documents:</h4>
  <ul>
    <% user.documents.each do |document| %>
      <li>
        <b><%= document.title %></b>:
        <%= document.description %>
      </li>
    <% end %>
  </ul>
<% end %>
