<div class='nav' role='tablist' >
  <%= active_link_to 'Utilisateurs', '',
    class:    'nav-link',
    id:       'users-tab',
    role:     'tab',
    endpoint: '#users',
    data:     { 'bs-target': '#users',
                'bs-toggle': 'pill' },
    aria:     { controls: 'users' }
  %>
  <%= active_link_to 'Administrateurs', '',
    class:    'nav-link',
    id:       'admins-tab',
    role:     'tab',
    endpoint: '#admins',
    data:     { 'bs-target': '#admins',
                'bs-toggle': 'pill' },
    aria:     { controls: 'admins' }
  %>
</div>
