<div class="modal fade" id="new-event-modal" tabindex="-1" aria-labelledby="new-event-label" aria-hidden="true" data-events--form-target="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="new-event-label">Ajouter un évennement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <%= render partial: 'events/form',
                   locals: { new_event:     new_event,
                             current_team:  current_team,
                             calendars:     calendars,
                             organizations: organizations } %>
      </div>
    </div>
  </div>
</div>
