<%= link_to events_modal_path(event),
  remote: true,
  method: :get,
  data: {
    'bs-togle':       'modal',
    'bs-target':      "#event_modal-#{event.id}",
    'calendar-name':  event.calendar.name,
    'calendar-state': 'displayed'
  },
  class: 'text-decoration-none calendar-event-link',
  style: 'display: none;' do %>
  <span class='badge bg-info text-<%= event.calendar.text_color %> d-inline-block  w-100 text-truncate' style='background-color: <%= event.calendar.background_color %> !important'>
    <%= event.title %>
  </span>
<% end %>
