<div class='card my-2 mx-2 shadow'>
  <div class='card-body'>
    <h5 class='card-title'><%= event.title %></h5>
    <h6 class='card-subtitle mb-3 text-muted'><%= event.user.fullname %></h6>
    <p class='card-text'><%= event.description %></p>
    <div class='d-md-flex justify-content-md-end'>
      <button type='button' class='btn btn-outline-primary btn-sm' data-bs-toggle='modal' data-bs-target='#event_<%= event.id %>'>Plus d'info</a>
      # TODO: Add style to button:
      #   outline:    none;
      #   box-shadow: none;
    </div>
  </div>
</div>
