<div class='row' data-controller="calendars--visibility">
  <div class='col-2'>
    <%= turbo_frame_tag 'calendar-sidebar' do %>
      <%= render partial: 'calendar_sidebar', collection: @calendars, as: :calendar %>
    <% end %>

    <hr class='text-white'>

    <%# render partial: 'form', locals: { calendar: @new_calendar} %>
  </div>

  <div class='col-10'>
    <div data-controller="events--form">
      <%= render partial: 'calendars/calendar',
                 locals: { events: @events } %>

      <%= render partial: 'events/add_event_modal',
                 locals: { event:         @event,
                           calendars:     @calendars,
                           organizations: @organizations } %>
    </div>
  </div>
</div>
