.simple-calendar {
  $other-months-bg: #1e1e1e;

  .prev-month { background: $other-months-bg }
  .today      { background: #7F7C82; }
  .next-month { background: $other-months-bg }

  th {
    border-color: white;
    border-width: 1px;
  }

  .day {
    border-color: white;
    border-width: 1px;
    position: relative;
  }

  .table > :not(:last-child) > :last-child > * {
    border-bottom-color: white
  }
}
